*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(246, 249, 252);
}
.app{
    width: 860px;
    margin: 36px auto;
    background-color: #c2c2c2;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 16px;
    box-shadow: 0 0 10px rgb(216, 216, 216);
}
.header__content{
    text-align: center;
    padding: 16px 0px
}
.header__content p{
    padding: 10px 0;
}
.header__date{
    padding-bottom: 10px;
}
hr{
    margin: 0 auto;
    width: 80%;
}
.currencies{
    margin: 0px auto;
    max-width: 80%;
    padding: 26px 0;
}
.currency__list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    list-style: none;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}
li{
    padding: 10px 0;
}
.calc__btn{
    margin-top: 16px;
    cursor: pointer;
    width: 120px;
    height: 32px;
    background-color: rgb(110, 255, 66);
    opacity: 0.8;
}
.calc__btn:hover{
    opacity: 1;
}
.footer__text{
    text-align: center;
    padding: 16px 0px
}
.popup{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}
.popup__window{
    background-color: #fff;
    width: 680px;
    height: 380px;
    z-index: 9999;
    padding: 20px;
    border-radius: 10px;
    margin-top: 42px;
}
.popup__header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}
.popup__close{
    cursor: pointer;
    background-color: rgb(255, 50, 50);
    opacity: 0.7;
}
.popup__close:hover{
    opacity: 1;
}
.popup__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.input__field{
    width: 200px;
    height: 42px;
    margin: 20px 0;
}
.convert__btn{
    cursor: pointer;
    width: 120px;
    height: 32px;
    background-color: rgb(110, 255, 66);
    opacity: 0.8;
}
.convert__btn:hover{
    opacity: 1;
}
